<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>
    <div class="navbar">
        <div class="logo">
            <p>HOTIM</p>
            <img src="/images/logo.png" alt="logo pics" id="logo-pics">
        </div>
        <nav class="nav">
            <ul>
                <li>Home</li>
                <li>About</li>
                <li>Service</li>
            </ul>
        </nav>
    </div>
    <div class="second-container">
        <div class="false-nav">
        </div>
        <div>
            <div class="form-item">
                <img src="/images/blue-globe.png" alt="Your Image" class="styled-image">
                <h1 id="show">Welcome to Hotim Blog</h1>
                <h1 id="hide">Hotim Blog</h1>
                <form action="/submit" method="post">
                    <label for="new-name">Name</label>
                    <input type="text" id="name" name="name" required>
                
                    <label for="new-password">Password</label>
                    <input type="password" id="email" name="password" required>
                    <label>
                    <button type="submit">Submit</button>
                </label>
                  </form>
            </div>
        </div>
    </div>
    <footer>
        <p>Copyright @ 2023</p>
    </footer>
</body>
</html>