<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/post.css">
    <title>Document</title>
</head>
<body>
    <div class="navbar">
        <div class="logo">
            <p>HOTIM</p>
            <img src="/images/logo.png" alt="logo pics" id="logo-pics">
        </div>
        <nav class="nav">
            <ul>
                <li>Home</li>
                <li>About</li>
                <li>Service</li>
            </ul>
        </nav>
    </div>
    <div class="form-item">
        <img src="/images/blue-globe.png" alt="Your Image" class="styled-image">
        <h1 id="show">
            Welcome <%=nameOfUser%>
        </h1>
        <form action="/submit" method="post">
            <input type="text" id="text" name="textbox" required>
            <label for="textbox">Write your content</label>
            <label>
            <button type="submit">Post</button>
            </label>
        </form>
    </div>
</body>
<!-- <script src="index.js"></script> -->
</html>