body{
    background-image: url('images/background-pics.jpg'); /* Path to your image file */
    background-size: cover; /* Cover the entire viewport */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    margin: 0;
    padding: 0;
    height: 100vh;
}
.logo{
    display: flex;
}
.navbar{
    background-color: #00A9FF;
    color: white;
    display: flex;
    justify-content: space-between;
}
#logo-pics{
    max-width: 100%;
    height: 2rem;
}
.nav ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li{
    cursor: pointer;
    padding: 0.5rem;
}
.form-item{
    text-align: center;
    border: solid 2px white;
    padding: 30px;
    width: 50%;
    border-radius: 30px;
    background-color:  #00A9FF;
    color: white;
    margin-left: 23%;
    margin-top: 6%;
}
form {
    margin-top: 20px;
  }

  label {
    display: block;
    margin-bottom: 8px;
  }

  input {
    height: 5rem;
    width: 40%;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
    border-radius: 15px;
    border: solid 2px white;
  }
  input[type="text"]:focus {
    outline: none; /* Remove default focus outline */
    border-color: #007BFF; /* Change border color when focused */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Add a subtle box shadow */
}
  button {
    background-color: #B4BDFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border-radius: 15px;
  }
.styled-image{
    height: 4rem;
}
/* input #test{
    height: 100px;
} */